.---mcw--mcs__input{

    border-style: solid;
    border-width: 1px;
    border-color: #4D5557;
    border-radius: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    flex-grow: 1;
    cursor: pointer;
    background: transparent;
    transition: all 0.2s ease;

    &:focus, &:focus-visible{
        outline: none;
        box-shadow: none;
        border-color: #000000;
        background-color: white;
    }

    &::placeholder{
        color: #757575;
    }

    &_radius{
        flex: 0 0 25%;
        min-width: 100px;
    }

    &Group{

        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        flex-direction: column;
        margin-bottom: 12px;

        &_horizontal{
            flex-direction: row;
        }

        &_noGap{

            gap:0;

        }

        &:last-child,
        &_nomargin{
            margin-bottom: 0;
        }

        &_countries{
            flex: 0 0 100%;
        }

        input[type="radio"], input[type="checkbox"], label{
            outline: none!important;
        }

    }

    &_error{
        border-color: red;
        box-shadow: 0 0 3px red;
    }

}

.---mcw--mcs__searchButton{
    
    background-color: #000000!important;
    color: #FFFFFF!important;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    flex-grow: initial;
    padding-left: 24px;
    padding-right: 24px;
    transition: all 0.1s ease;
    border-color: #000000;

    &:hover{
        background-color: #FFFFFF!important;
        color: #000000!important;
        border-style: solid;
        border-width: 1px;
        border-color: #000000;
    }

}